@import url('https://fonts.googleapis.com/css2? family= Nerko+One & display=swap');

/*configuracion de pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nerko One', cursive;
}

/*configuraciones generales*/
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body html{
    overflow-x: hidden;
}

section{
    width: 80%;
    margin: 80px auto;
}
/*final de configuraciones*/

/*inicio*/
.barra{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.barra-links{
    display: flex;
    align-items: center;
}

.barra-links li{
    margin: 0 30px;

}

.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
}
/*final de inicio*/

/*primera parte*/
header{
    width: 100vw;
    height: 100vh;
    background-image: url(./fondoIII.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenido-dos {
    margin-bottom: 150px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.contenido-dos h1{
    font-size: 9vmin;
    color: rgb(10, 10, 11);
}

.linea{
    width: 150px;
    height: 4px;
    background: rgb(112, 211, 24);
    margin: 10px auto;
    border-radius: 5px;
}

.contenido-dos h2{
    font-size: 4vmin;
    margin-top: 20px;
    margin-bottom: 30px;
}

.ctn{
    padding: 10px 5px;
    background: #fce703bc;
    border-radius: 30px;
    color: rgb(29, 28, 28);
}
/*fin de primera parte*/

/*segunda parte*/
.video{
    text-align:left;
    font-size: 4vmin;
    color: rgb(230, 182, 27);
}

.video .linea{
    margin-bottom: 10px;
    margin-left: 100px;
}
.video .youtuve{
    margin-top: 50px;
}
.youtuve{
    height: 400px;
    width: 500px;
    padding-left: 230px;
}
/*fin de la segunda parte*/

/*tercera parte*/
.datos{
    width: 100%;
    height: 100vh;
    background-image: url(./fondoIV.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

.datos-info{
    text-align: center;
    font-size: 4vmin;
    color: rgb(244, 213, 88);
    margin-top: 40px;
}

.datos-info p{
    color: rgb(246, 246, 185);
}

.datos-a-completar form{
    background-color: rgba(160, 234, 142, 0.648);
    color: rgb(84, 74, 192);
    padding: 20px;;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 5px;
    width: 400px;
}

.footer{
    width: 100%;
    height: 200px;
    padding: 20px 80px;
    margin: 0;
    background: #eeff05e8;
    text-align: center;
    color: rgb(105, 96, 165);
}
